.clearfix {
  clear: both; }

.container {
  max-width: 978px;
  margin: 0 auto;
  padding: 0px 10px; }

header {
  max-height: 79px;
  padding: 22px 0;
  box-shadow: 0 0 2px 0 #e9e9e9; }
  header .menu-margin {
    float: left;
    margin-left: 150px;
    width: 1px;
    height: 1px; }
  header .menu-elements {
    float: left; }
    header .menu-elements .element-menu {
      float: left;
      margin-right: 32px;
      padding-top: 10px; }
    header .menu-elements .selected {
      color: #ff801a; }
    header .menu-elements .line {
      width: 25px;
      height: 2px;
      background: #ff801a;
      margin-top: 8px; }
  header .loggedIn {
    float: right; }
    header .loggedIn img, header .loggedIn span {
      padding-left: 10px;
      font-size: 15px; }

#timetable {
  padding: 33px 0; }
  #timetable .progressBar p {
    font-size: 7px;
    margin: 0 0 12px 0; }
  #timetable .progressBar div.bar {
    -ms-grid-column: 1; }
    #timetable .progressBar div.bar .icon {
      width: 20px;
      height: 10px; }
    #timetable .progressBar div.bar .weekItem {
      float: left; }
      #timetable .progressBar div.bar .weekItem span {
        font-size: 7px;
        margin-left: 12px; }
      #timetable .progressBar div.bar .weekItem .firstSpan {
        margin-left: 3px; }
      #timetable .progressBar div.bar .weekItem .first {
        background-position: -10px 0;
        width: 10px; }
      #timetable .progressBar div.bar .weekItem .green {
        background-image: url(../images/progressBar1.png); }
      #timetable .progressBar div.bar .weekItem .white {
        background-image: url(../images/progressBar2.png); }
      #timetable .progressBar div.bar .weekItem .grey {
        background-image: url(../images/progressBar3.png); }
  #timetable .week {
    text-align: center; }
    #timetable .week table td {
      min-width: 26px; }
    #timetable .week div.week-current {
      font-size: 35px;
      min-width: 230px;
      padding: 0 42px;
      white-space: nowrap; }
    #timetable .week img {
      cursor: pointer; }
    #timetable .week img.disabled {
      display: none; }
  #timetable .foodOptions div.foodOptionsContent {
    float: right; }
  @media (max-width: 768px) {
    #timetable .foodOptions div.foodOptionsContent {
      float: left; } }
  #timetable .foodOptions p {
    font-size: 7px;
    margin: 0 0 12px 0;
    padding-left: 10px; }
  #timetable .foodOptions ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #timetable .foodOptions ul li {
      padding-left: 10px; }

#mealPlan table, #mealPlan tr, #mealPlan th, #mealPlan td {
  border: 2px solid #e9e9e9;
  text-align: center;
  border-collapse: collapse; }

#mealPlan th {
  width: 13%; }

#mealPlan td.time {
  width: 9%; }

.time {
  width: 85px; }

.guiltFreeDay img {
  display: block;
  margin: auto;
  padding: 10px 0; }

#bottomBoxes {
  display: flex;
  flex-direction: row; }
