$color-orange: #ff801a;
$color-table: #e9e9e9;
$color-green: #b5c409;
$padding-food-options: 10px;

.clearfix {
  clear: both;
}

.noPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container {
  margin: 0 auto;
}

header {
  max-height: 79px;
  padding: 22px 0;
  box-shadow: 0 0 2px 0 $color-table;
  .loggedIn {
    float: right;
    img, span {
      padding-left: 10px;
      font-size: 15px;
    }
  }
  .element-menu {
    float: left;
    margin-right: 32px;
    padding-top: 10px;
  }
  .first {
    margin-left: 150px;
    color: $color-orange;
  }
  .line {
    width: 25px;
    height: 2px;
    background: $color-orange;
    margin-top: 8px;
  }
}

#timetable {
  padding: 33px 0;

  .progressBar {
    p {
      font-size: 7px;
      padding: 7px 0 0 0;
      margin-bottom: 0;
    }
    div.bar {
      .icon {
        width: 20px;
        height: 10px;
      }
      .weekItem {
        float: left;
        span {
          font-size: 7px;
          margin-left: 12px;
        }
        .first {
          background-position: -10px 0;
          width: 10px;
        }
        .green {
          background-image: url(../images/progressBar1.png);
        }
        .white {
          background-image: url(../images/progressBar2.png);
        }
        .grey {
          background-image: url(../images/progressBar3.png);
        }
      }
    }
  }
  .week {
    text-align: center;
    span {
      font-size: 35px;
      padding: 0 42px;
    }
    img {
      vertical-align: top;
    }
  }
  .foodOptions {
    span {
      font-size: 7px;
      padding-left: $padding-food-options;
    }
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      li {
        padding-left: $padding-food-options;
      }
    }
  }
}

#mealPlan {
  table, tr, th, td {
    border: 2px solid $color-table;
    text-align: center;
  }
  th {
    width: 13%;
  }
  td.time {
    width: 9%;
  }
}

.time {
  width: 85px;
}

.guiltFreeDay {
  img {
    display: block;
    margin: auto;
    padding: 10px 0;
  }
}

#bottomBoxes {
  display: flex;
  flex-direction: row;
}
