$color-orange: #ff801a;
$color-table: #e9e9e9;
$color-green: #b5c409;
$padding-food-options: 10px;

.clearfix {
  clear: both;
}

header {
  max-height: 79px;
  max-width: 978px;
  margin: 0 auto;
  padding: 22px 0;
  box-shadow: 0 0 2px 0 $color-table;
  .menu-margin {
    float: left;
    margin-left: 150px;
    width: 1px;
    height: 1px;
  }
  .menu-elements {
    float: left;

    .element-menu {
      float: left;
      margin-right: 32px;
      padding-top: 10px;
    }
    .selected {
      color: $color-orange;
    }
    .line {
      width: 25px;
      height: 2px;
      background: $color-orange;
      margin-top: 8px;
    }
  }
  .loggedIn {
    float: right;
    img, span {
      padding-left: 10px;
      font-size: 15px;
    }
  }
}

main {
  max-width: 978px;
  margin: 0 auto;
}

#timetable {
  padding: 33px 0;

  .progressBar {
    p {
      font-size: 7px;
      margin: 0 0 12px 0;
    }
    div.bar {
      -ms-grid-column: 1;
      .icon {
        width: 20px;
        height: 10px;
      }
      .weekItem {
        float: left;
        span {
          font-size: 7px;
          margin-left: 12px;
        }
        .firstSpan {
          margin-left: 3px;
        }
        .first {
          background-position: -10px 0;
          width: 10px;
        }
        .green {
          background-image: url(../images/progressBar1.png);
        }
        .white {
          background-image: url(../images/progressBar2.png);
        }
        .grey {
          background-image: url(../images/progressBar3.png);
        }
      }
    }
  }
  .week {
    -ms-grid-column: 2;
    text-align: center;
    div.weekContent {
      vertical-align: middle;

    }
    span {
      font-size: 35px;
      padding: 0 42px;
    }
    img {
      vertical-align: top;
    }
  }
  .foodOptions {
    -ms-grid-column: 3;
    div.foodOptionsContent {
      float: right;
    }
    p {
      font-size: 7px;
      margin: 0 0 12px 0;
      padding-left: $padding-food-options;
    }
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding-left: $padding-food-options;
      }
    }
  }
}

#mealPlan {
  table, tr, th, td {
    border: 2px solid $color-table;
    text-align: center;
    border-collapse: collapse;
  }
  th {
    width: 13%;
  }
  td.time {
    width: 9%;
  }
}

.time {
  width: 85px;
}

.guiltFreeDay {
  img {
    display: block;
    margin: auto;
    padding: 10px 0;
  }
}

#bottomBoxes {
  display: flex;
  flex-direction: row;
}
