$small-device-max-width: 768px;
$color-orange: #ff801a;
$color-table: #e9e9e9;
$color-table-column-selected: red;
$color-green: #b5c409;
$padding-food-options: 10px;
$color-day-green: #adbb0c;

.clearfix {
  clear: both;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (max-width:768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

header {
  max-height: 79px;
  padding: 22px 0;
  box-shadow: 0 0 2px 0 $color-table;
  .menu-margin {

    @media screen and (max-width:575px) {
      margin-left: 0;
    }
    @media screen and (min-width: 575px) {
      float: left;
      margin-left: 150px;
      width: 1px;
      height: 1px;
    }
  }
  .menu-elements {
    float: left;

    .element-menu {
      float: left;
      margin-right: 32px;
      padding-top: 10px;
    }
    .selected {
      color: $color-orange;
    }
    .line {
      width: 25px;
      height: 2px;
      background: $color-orange;
      margin-top: 8px;
      color: $color-orange;
    }
  }
  .loggedIn {
    float: right;
    img, span {
      padding-left: 10px;
      font-size: 15px;
    }
    span, img.arrow {
      @media screen and (max-width: 641px) {
        display: none;
      }
    }

      @media screen and (max-width: 641px) {
        float: none;
    }
  }
}

#timetable {
  padding: 33px 0;

  @media screen and (max-width: $small-device-max-width) {
    width: 300px;
    margin: auto;
  }
  .progressBar {
    p {
      font-size: 7px;
      margin: 0 0 12px 0;
    }
    div.bar {
      -ms-grid-column: 1;
      .icon {
        width: 20px;
        height: 10px;
      }
      .weekItem {
        float: left;
        span {
          font-size: 7px;
          margin-left: 12px;
        }
        .firstSpan {
          margin-left: 3px;
        }
        .first {
          background-position: -10px 0;
          width: 10px;
        }
        .green {
          background-image: url(../../images/progressBar1.png);
        }
        .white {
          background-image: url(../../images/progressBar2.png);
        }
        .grey {
          background-image: url(../../images/progressBar3.png);
        }
      }
    }
    @media screen and (max-width: 992px) {
      padding-top: 10px;
    }
  }
  .week {
    text-align: center;
    table {
      td {
        min-width: 26px;
      }
    }
    @media screen and (max-width: 575px) {
      float: left;
    }
    div.week-current {
      font-size: 35px;
      min-width: 230px;
      padding: 0 42px;
      white-space: nowrap;
      text-align: center;
    }
    img {
      cursor: pointer;
    }
    img.disabled {
      display: none;
    }
  }
  .foodOptions {
    div.foodOptionsContent {
      float: right;
      font-size: 7px;
      margin: 0 0 12px 0;
      padding-left: $padding-food-options;
      @media screen and (max-width: 768px) {
        float: left;
        padding: 10px 0 0 0;
      }
      @media screen and (min-width:768px) and (max-width: 992px) {
        padding-top: 10px;
        float:right;
      }

     }
    //@media screen and (min-width:575px) {
    //  float: right;
    //  display: block;
    //}
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      :first-child {
        padding-left: 0;
      }
      li {
        padding-left: $padding-food-options;
      }
    }
  }

}

#mealPlan {
  table, tr, th, td {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    border-top: 2px solid $color-table;
    border-right: 2px solid $color-table;
  }
  th {
    width: 13%;
  }
  th:first-child {
    width: 9%;
  }
  tr:first-child > th,
  tr:first-child > td {
    border-top: 0;
  }
  tr > th:first-child,
  tr > td:first-child {
    border-right: 0;
  }
  tr > th:last-child,
  tr > td:last-child {
    border-right: 0;
    border-left: 2px solid $color-table;
  }
  tr > th:first-child,
  tr > td:first-child,
  tr:last-child > td,
  tr:nth-last-child(2) > td {
    background: url('../../images/table_background.png') repeat;
  }
  tr:nth-last-child(2) > td {
    border-top: 0;
  }
  tr:nth-last-child(2) > td:first-child {
    border-right: 0;
  }
  // HAX jak nic -.-
  tr > td.selectedYesterday,
  tr > th.selectedYesterday,
  tr > td.selected,
  tr > th.selected {
    border-right-color: $color-table-column-selected;
  }
  tr > th.selected {
    border-top: 2px solid $color-table-column-selected;
  }
  tr:last-child > td.selected {
    border-bottom: 2px solid $color-table-column-selected;
  }
}

.time {
  width: 85px;
}

.guiltFreeDay {
  img {
    display: block;
    margin: auto;
    padding: 10px 0;
  }
}

#bottomBoxes {
  display: flex;
  flex-direction: row;
}
