$small-device-max-width: 768px;
$color-orange: #ff801a;
$color-table: #e9e9e9;
$color-green: #b5c409;
$padding-food-options: 10px;
$color-day-green: #adbb0c;
$color-table-data-text: #828282;
$color-background-body: #f9f9f9;
$color-border-darker: #d7d7d7;

.clearfix {
  clear: both;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

header {
  max-height: 79px;
  padding: 22px 0;
  .menu-margin {

    float: left;
    margin-left: 15%;
    width: 1px;
    height: 1px;
  }
  .menu-elements {
    float: left;
    .element-menu {
      float: left;
      margin-right: 32px;
      padding-top: 10px;
      @media screen and (max-width: 391px) {
        margin-right: 10px;
      }
      :last-child {
        @media screen and (max-width: 391px) {
          margin-left: 10px;
        }
      }
    }
    .selected {
      color: $color-orange;
    }
    .line {
      width: 25px;
      height: 2px;
      background: $color-orange;
      margin-top: 8px;
      color: $color-orange;
    }
  }
  .loggedIn {
    float: right;
    img, span {
      padding-left: 10px;
      font-size: 15px;
    }
    span, img.arrow {
      @media screen and (max-width: 768px) {
        display: none;
      }
      @media screen and (min-width: 768px) {
        display: inline;
      }
    }

    @media screen and (max-width: 768px) {
      float: none;
    }
    @media screen and (min-width: 768px) {
      float: right;
    }
    img.photoOfLogged {
      @media screen and (max-width: 570px) {
        position: absolute;
        top: 10px;
        left: 20px;
      }
    }
  }
}

#timetable {
  padding: 33px 0;
  @media screen and (max-width: 768px) {
    width: 300px;
    margin: auto;
  }
  @media screen and (min-width: 768px) {
    width: auto;
  }

  .progressBar {
    p {
      font-size: 7px;
      margin: 0 0 12px 0;
      @media screen and (max-width: 768px) {
        margin-left: 70px;
      }
      @media screen and (min-width: 768px) {
        margin: 0 0 12px 0;
      }
    }
    div.bar {
      .icon {
        width: 20px;
        height: 10px;
        margin-bottom: 8px;
      }
      .weekItem {
        float: left;
        span {
          font-size: 7px;
          margin-left: 12px;
        }
        .firstSpan {
          margin-left: 3px;
        }
        .first {
          background-position: -10px 0;
          width: 10px;
        }
        .green {
          background-image: url(../../images/progressBar1.png);
        }
        .white {
          background-image: url(../../images/progressBar2.png);
        }
        .grey {
          background-image: url(../../images/progressBar3.png);
        }
      }
    }
    @media screen and (max-width: 992px) {
      padding-top: 10px;
    }
    @media screen and (max-width: 768px) {
      margin-left: 25px;
    }
    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }
  .week {
    text-align: center;
    table {
      td {
        min-width: 26px;
      }
    }
    @media screen and (max-width: 575px) {
      float: left;
    }
    div.week-current {
      font-size: 44px;
      min-width: 230px;
      text-align: center;
      color: $color-orange;
    }
    img {
      cursor: pointer;
    }
    img.disabled {
      display: none;
    }
  }
  .foodOptions {
    @media screen and (max-width: 768px) {
      margin-left: 55px;
    }
    @media screen and (min-width: 768px) {
      margin: 0 0 12px 0;
    }
    p {
      @media screen and (max-width: 768px) {
        margin-left: 30px;
      }
      @media screen and (min-width: 768px) {
        margin: 0 0 12px 0;
      }
    }
    div.foodOptionsContent {
      float: right;
      font-size: 7px;
      margin: 0 0 12px 0;
      padding-left: $padding-food-options;
      @media screen and (max-width: 768px) {
        float: left;
        padding: 10px 0 0 0;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-top: 10px;
        float: right;
      }
    }
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      :first-child {
        padding-left: 0;
      }
      li {
        padding-left: $padding-food-options;
      }
    }
  }

}

#mealPlan {
  .tablePlaceHolder {
    overflow-x: auto;
    tr.workoutTr, td.dietTypeCell {
      height: 35px;
      img.workoutDone {
        margin-left: 10px;
      }
    }
    td.meal-cell.selected {
      div.cellDataContainer {
        span.cellDataMeal {
          color: black;
        }
      }
    }
    td.workoutToDo {
      border-top: 2px solid $color-border-darker;
    }
    td.workoutToDo, td.dietTypeCell {
      border-right: 2px solid $color-border-darker;
    }
    span.timeTable, span.workout, td.dietTypeCell {
      color: $color-table-data-text;
      font-size: 11px;
      font-weight: bold;
    }
    span.workout {
      margin: 11px 5px;
    }
    .tableHeaderDay {
      font-size: 17px;
      color: $color-day-green;
      padding: 17px 0;
    }
    .tableHeaderDay.selected {
        color: $color-orange;
    }

    td.meal-cell {
      position: relative;
      div.cellDataContainer {
        min-height: 90px;
        margin: 13px 23px 0 13px;
        text-align: left;

        span.cellDataMeal {
          font-size: 13px;
          line-height: 1.4;
          padding-right: $padding-food-options;
          font-family: arial;
          color: $color-table-data-text;
          text-align: left;
        }
        img.was-eaten {
          position: absolute;
          top: 13px;
          right: 8px;
        }
        img.shakePicture {
          margin: 16px 0 0 8px;
        }
      }
    }
  }
  table, tr, th, td {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    border-top: 2px solid $color-table;
    border-right: 2px solid $color-table;
  }
  th {
    min-width: 120px;
  }
  th:first-child {
    min-width: 80px;
  }
  tr:first-child > th,
  tr:first-child > td {
    border-top: 0;
  }
  tr > th:first-child,
  tr > td:first-child {
    border-color: $color-border-darker;
    border-right: 0;
  }
  tr > th:last-child,
  tr > td:last-child {
    border-right: 0;
    border-left: 2px solid $color-table;
  }
  tr > th:first-child,
  tr > td:first-child,
  tr:last-child > td,
  tr:nth-last-child(2) > td {
    background: url('../../images/table_background.png') repeat;
  }
  tr:nth-last-child(2) > td {
    border-top: 0;
  }
  tr:nth-last-child(2) > td:first-child {
    border-right: 0;
  }
  tr > td.selectedYesterday,
  tr > th.selectedYesterday,
  tr > td.selected,
  tr > th.selected {
    border-right-color: $color-orange !important;
  }
  tr > th.selected {
    border-top: 2px solid $color-orange !important;
  }
  tr:last-child > td.selected {
    border-bottom: 2px solid $color-orange !important;
  }
}

.time {
  width: 85px;
}

.guiltFreeDay {
  img {
    display: block;
    margin: auto;
    padding: 10px 0;
  }
}

#bottomBoxes {
  display: flex;
  flex-direction: row;
}
